mock==2.0.0
coverage==4.0.3
gunicorn==19.5.0
Django==1.9.6
python-memcached==1.57
psycopg2==2.6.1
whitenoise==3.1
python-social-auth==0.2.19
Pillow==3.2.0
django-classbasedsettings==1.5.0
raven==5.17.0
sorl-thumbnail==12.3
boto==2.40.0
django-storages==1.4.1
geopy==1.11.0
pinax-stripe==3.1.0
-e git://github.com/BradWhittington/django-templated-email.git@959c40e793bab96454245585ab090df873a619b5#egg=django_templated_email-master
