{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/artist/artist_preview.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h1>Profile</h1>
    <h2 class="profile-header">Good morning {% firstof user.get_full_name user.get_username %}!</h2>
    {% if user.userprofile.invest_anonymously %}<p><small>(displays publicly as Anonymous)</small></p>{% endif %}
    <ul class="tabs" data-tabs id="profile-tabs">
        <li class="tabs-title is-active"><a href="#overview" aria-selected="true">Overview</a></li>
        <li class="tabs-title"><a href="#name">Name</a></li>
    </ul>
    <div class="break">
        <hr>
    </div>
    <div class="tabs-content" data-tabs-content="profile-tabs">
        <div class="tabs-panel is-active" id="overview">
            {% if artists %}
                <div class="investments">
                    <h2>Portfolio</h2>
                    <p>Here are the artists that you have invested in:</p>
                        <div class="row small-up-1 medium-up-2 large-up-4 artistlist">
        {% for artist in artists %}
            <div class="column">
                <a href="{% url 'artist' slug=artist.slug %}">
                    <img src="{{ artist.photo.img.url }}" />
                    <br />{{ artist.name }}
                </a>
                </div>
                        {% endfor %}
                    </ul>
                    <div class="break">
                        <hr>
                    </div>
                    <p class="profile-total">Total invested: ${{ total_investments|intcomma|floatformat:2 }}</p>
                    {% if total_earned %}
                        <p>Total earned: ${{ total_earned|intcomma|floatformat:2 }}</p>
                    {% else %}
                        <p class="profile-total">Your money is going towards making some sweet music!</p>
                    {% endif %}
                    {% if updates %}
                        <div class="break">
                            <hr>
                        </div>
                        <!-- Updates -->
                        <h2>Updates</h2>
                        <ul>
                            {% for update in updates %}
                                <li>{{ update.created_datetime }}: {{ update.artist.name }} - {{ update.text }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% else %}
                <p>You haven't invested in anything yet!</p>
            {% endif %}
        </div>
        <div class="tabs-panel" id="name">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" />
            </form>
        </div>
    </div>
{% endblock %}
