{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <div class="center">
        <br/><img class="public-profile-crop" src="{{ profile_user.userprofile.display_avatar_url }}" alt="Profile" />
        <h3 class="profile-padding">{{ profile_user.userprofile.get_display_name }}'s<br/> Profile</h3>
    </div>
    <div class="break">
        <hr>
    </div>
    {% if artists %}
        <div class="investments">
            <h2>INVESTMENTS</h2>
            <p>Here are the artists that {{ profile_user.userprofile.get_display_name }} has invested in:</p>
            <ul>
                {% for artist in artists %}
                    <li><a href="{% url 'artist' slug=artist.slug %}">{{ artist.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="break">
            <hr>
        </div>

        <p class="profile-total">Total invested: ${{ profile_user.total_investments|floatformat:2|intcomma }}</p>
        <p>Total earned: ${{ total_earned|floatformat:2|intcomma }}</p>


    {% else %}
        <p>{{ profile_user.userprofile.get_display_name }} hasn't invested in anything yet!</p>
    {% endif %}
{% endblock %}
