h1, h2, li, p, a {
    color: #000;
}

.container {
    text-align: center;
}

#countdown-wrap {
    height: 150px;
}

.invest-num-shares {
    margin-bottom: 16px;
}

.invest-num-shares > button {
    display: inline-block;
    margin: 0;
}

.invest-num-shares > input {
    display: inline-block;
    margin: 0;
    width: 75px;
    text-align: right;
}
