#countdown-wrap {
  width: 100%;
  height: 300px;
  //border: 1px solid black;
  padding: 2em;
  font-family: arial;
  margin: auto;
 
}
#countdown-stats {
   display: flex;
   justify-content: space-between;
}

#goal {
  font-size: 48px;
  text-align: center;
  width: 80%;
  @media only screen and (max-width : 640px) {
    text-align: center;  
  }
  
}

#glass {
  width: 100%;
  height: 20px;
  background: #c7c7c7;
  border-radius: 10px;
  float: center;
  overflow: hidden;
}

.goal-stat {
  width: 20%;
  height: 30px;
  padding: 20px;
  float: center;
  margin: 0;
  
  @media only screen and (max-width : 640px) {
    width: 40%;
    text-align: center;
  }
}

.goal-number, .goal-label {
  display: block;
}

.goal-number {
  font-weight: bold;
}
