.page {
    height: 100vh;
}

div.how-container{
    padding: 30px 30px 30px 30px;
}

h1.how-title {
	text-align: center;
    color: #000;

}

p.how-page {
    text-align: center;
    color: #000;
    font-size: 50px;
}

p.how-copy {
    text-align: center;
    color: #000;
    font-size: 30px;
}

p.how-p {
    text-align: center;
    color: #000;
    font-size: 20px;
}
