.page {
    min-height: 100vh;
}

#how-page {
    padding: 30px 30px 30px 30px;
}

h1.home-title {
    color: #ffffff;
}

h2.home-description {
    color: #ffffff;
    font-size: 25px;
}

h1.how-title {
    text-align: center;
    color: #000;
}

p.how-page {
    text-align: center;
    font-size: 50px;
}

p.how-copy {
    text-align: center;
    font-size: 30px;
}

p.how-p {
    text-align: center;
    font-size: 20px;
}

.heading-center {
    padding-top: 25%;
}

p.home-text {
    text-align: center;
    color: #ffffff;
}
