.page {
    min-height: 100vh;
    position: relative;
}

#how-page {
    padding: 30px 30px 30px 30px;
}

#fan-page {
    padding: 30px 30px 30px 30px;
}

h1.home-title {
    color: #ffffff;
}

h2.home-description {
    color: #ffffff;
    font-size: 25px;
}

h1.how-title {
    text-align: center;
    color: #000;
}

p.how-page {
    text-align: center;
    font-size: 50px;
}

p.how-copy {
    text-align: center;
    font-size: 30px;
}

p.how-p {
    text-align: center;
    font-size: 20px;
}

.heading-center {
    padding-top: 20%;
}

.home-text {
    width: 9em;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 auto;

}

.home-how {
    font-size: 25px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
    left: 10px;
}

p.welcome-text {
    text-align: center;
    color: #fff;
}

.home-boxes {
    text-align: center;
    margin: 20px;
}

.box-margin {
    margin: 10px;
    padding: 15px;
    width: 120px;
}

.icons {
    text-align: center;
    margin: 20px;
}

#sign-up {
    margin: 30px;
}
