h1, h2, h3, h4, h5, p, li, input [type=submit] {
    font-family: Dosis, sans-serif;
}

h4 [type=submit] {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-size: 6em;
    color: #000;
    font-weight: 200;
}

h2 {
    text-align: center;
    font-size: 4em;
    color: #000;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-size: 3em;
    color: #000;
    font-weight: 200;
}

h4 {
    text-align: center;
    font-weight: 400;
    font-size: 2em;
}

h5 {
    font-weight: 200;
    font-size: 1em;
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-left: 0;
}

p {
    font-size: .8em;
    font-weight: 200;
    color: #000;
    text-align: center;
    font-family: Roboto;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #80b3ff;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-page {
    min-height: 100%;
    position: relative;
}

.nav {
    background-color: black;
    padding: 0px;
}

.nav-small {
    background-color: black;
    padding: 10px;
    margin: 0;
    text-align: left;
}

.nav > li {
    display: inline;
    float: left;
    padding: 8px 8px;
}

.nav a {
    display: block;
    color: #000;
    color: #fff;
    padding: 5px 5px;
    text-decoration: none;
}

.container {
    padding-bottom: 100px;
}

.reveal {
    background-color: #333;
}

canvas {
    max-width: 800px;
    max-height: 400px;
}

#canvas-box {   
    text-align: center;
}

#bar-canvas {
    text-align: center;
}

#canvas-holder {
    width:30%;
    padding: 0;
    margin: auto;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #000;
    text-align: center;
}

.footer a {
    color: #fff;
    font-family: Roboto;
    font-size: .6em;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

.footer-items > li {
    display: inline;
    float: center;
}

.footer-items a {
    padding: 5px 5px;
    text-decoration: none;
}

img.img-404 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2.profile-header {
    text-align: center;
    font-size: 25px;
}

p.profile-total {
    text-align: center;
    font-size: 25px;
}

.break {
    padding-left: 5%;
    padding-right: 5%;
}

.page-padding {
    padding: 2em;
}

.apply-button {
    text-align: center;
}

a.nav-color {
    color: #000;
}

.extra-padding {
    padding: 2em;
    margin-top: 2em;
}

.social-icons > li {
    color: #fff;
    padding: 5px 5px;
    text-decoration: none;
    display: inline;
    float: center;
}

.register-box {
    padding: 2em;
    text-align: center;
}

.white-color {
    color: #fff;
}

.profile-crop {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.nav-profile {
    padding: 0px;
}

.nav-profile > li {
    display: inline;
    float: center;
}

.profile-padding {
    padding: 10px;
}

.public-profile-crop {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    text-align: center;
}

.center {
    text-align: center;
}
