{% extends "base.html" %}
{% load staticfiles %}
{% load campaign %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static "css/artist/countdown.css" %}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/artist/artist_detail.css" %}" type="text/css" charset="utf-8" />
    <style>
        #progress {
            float: left;
            width: {% firstof campaign.percentage_funded 0 %}%;
            height: 20px;
            background: #3090C7;
            z-index: 333;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="header-font">{{ artist.name }}</h1>
    <ul class="tabs" data-tabs id="artist-detail-tabs">
        <li class="tabs-title is-active"><a href="#overview" aria-selected="true">Overview</a></li>
        {% if campaign %}
            <li class="tabs-title"><a href="#roi">ROI</a></li>
        {% endif %}
        {% if investors %}
            <li class="tabs-title"><a href="#investors">Investors</a></li>
        {% endif %}
        {% if updates %}
            <li class="tabs-title"><a href="#updates">Updates</a></li>
        {% endif %}
    </ul>
    <div class="tabs-content" data-tabs-content="artist-detail-tabs">
        {% include "artist/includes/artist_detail_overview.html" %}
        {% if campaign %}
            {% include "artist/includes/artist_detail_roi.html" %}
        {% endif %}
        {% if investors %}
            {% include "artist/includes/artist_detail_investors.html" %}
        {% endif %}
        {% if updates %}
            {% include "artist/includes/artist_detail_updates.html" %}
        {% endif %}
    </div>
{% endblock %}

{% block extrajs %}
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="{% static "js/Chart.js" %}"></script>
    <script type="text/javascript">
        var perdiem_fee = {{ PERDIEM_FEE }};
        var artist_name = '{{ artist.name|escapejs }}';

        {% if campaign %}
            var doughnutData = [
                    {% if user_investor %}
                        {
                            value: {{ user_investor.percentage|floatformat:2 }},
                            color: "#000",
                            highlight: "#444",
                            label: "Me"
                        },
                    {% endif %}
                    {
                        value: {{ fans_percentage|floatformat:2 }},
                        color: "#46BFBD",
                        highlight: "#5AD3D1",
                        label: "{% if user_investor %}Other Investors{% else %}Investors{% endif %}"
                    },
                    {
                        value: {{ campaign.artist_percentage|floatformat:2 }},
                        color:"#F7464A",
                        highlight: "#FF5A5E",
                        label: "{{ artist.name|escapejs }}"
                    }

                ];

            var lineChartData = {
                labels : [".5x","1x","2x","5x","10x"],
                datasets : [
                    {
                        label: "Artist Revenue",
                        fillColor : "rgba(220,220,220,0.2)",
                        strokeColor : "rgba(220,220,220,1)",
                        pointColor : "rgba(220,220,220,1)",
                        pointStrokeColor : "#fff",
                        pointHighlightFill : "#fff",
                        pointHighlightStroke : "rgba(220,220,220,1)",
                        data : [{{ campaign|percentage_roi:50 }},{{ campaign|percentage_roi:100 }},{{ campaign|percentage_roi:200 }},{{ campaign|percentage_roi:500 }},{{ campaign|percentage_roi:1000 }}]
                    },
                ]

            }

            function draw_doughnut_chart() {
                var ctxchart = document.getElementById("chart-area").getContext("2d");
                window.myDoughnut = new Chart(ctxchart).Doughnut(doughnutData, {
                    responsive: true,
                    tooltipTemplate: "<%= label %>: <%= value %>%"
                });
            }
            function draw_line_chart() {
                var ctxline = document.getElementById("canvas").getContext("2d");
                window.myLine = new Chart(ctxline).Line(lineChartData, {
                    responsive: true
                });
            }
            window.onload = function() {
                draw_doughnut_chart();
            }
            $('#artist-detail-tabs').on('change.zf.tabs', function() {
                if ($('#overview:visible').length) {
                    draw_doughnut_chart();
                } else if ($('#roi:visible').length) {
                    draw_line_chart();
                }
            });

            var share_value = {{ campaign.value_per_share|escapejs }};
            var share_value_cents = {{ campaign.value_per_share_cents|escapejs }};
            var num_shares_remaining = {{ campaign.num_shares_remaining }};
            var stripe_handler = StripeCheckout.configure({
                key: '{{ PINAX_STRIPE_PUBLIC_KEY }}',
                locale: 'auto',
                email: '{{ request.user.email|escapejs }}',
                token: function(token) {
                    var num_shares = parseInt($('.invest-num-shares > input').val());
                    $.post("{% url 'pinax_stripe_charge' campaign_id=campaign.id %}", {card: token.id, num_shares: num_shares})
                        .done(function(resp) {
                            // Show success
                            var success_message = 'Thanks! Your investment is being processed. When payment completes, your name will appear in the investor list.';
                            $('#success-modal > p.success-message').text(success_message);
                            $('#success-modal').foundation('open');
                        })
                        .fail(function(resp) {
                            // Show error
                            var error_message = 'There was an issue processing your payment.<br />' + resp.responseText;
                            $('#error-modal > p.error-message').html(error_message);
                            $('#error-modal').foundation('open');
                        });
                }
            });
        {% endif %}
    </script>
    <script type="text/javascript" src="{% static "js/artist/artist-detail.js" %}"></script>
{% endblock %}
