{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/artist/artist_detail.css" %}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/artist/countdown.css" %}" type="text/css" charset="utf-8" />
    <style>
        #progress {
            float: left;
            width: {% firstof campaign.percentage_funded 0 %}%;
            height: 20px;
            background: #3090C7;
            z-index: 333;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="header-font">{{ artist.name }}</h1>
    <img src="{{ artist.photo.img.url }}" />
    {% with genres=artist.genres.all %}
        <p>Genre{{ genres|length|pluralize }}: {{ genres|join:" / " }}</p>
    {% endwith %}
    <p>Location: {{ artist.location }}</p>

    {% if campaign %}
        <h2>Goal</h2>
        <p>${{ campaign.amount|intcomma }} {{ campaign.reason }}</p>
        <!-- Countdown Widget -->
        <div id=countdown-wrap>
          <div id="glass">
            <div id="progress"></div>
          </div>
          <div id=countdown-stats>
          <div class="goal-stat">
            <span class="goal-number">{{ campaign.percentage_funded }}%</span>
            <span class="goal-label">Funded</span>
          </div>
          <div class="goal-stat">
            <span class="goal-number">${{ campaign.amount_raised|intcomma }}</span>
            <span class="goal-label">Raised</span>
          </div>
          <div class="goal-stat">
            <span class="goal-number">{{ campaign.days_remaining }}</span>
            <span class="goal-label">Days to Go</span>
          </div>
          <div class="goal-stat">
            {% with num_investors=investors|length %}
                <span class="goal-number">{{ num_investors }}</span>
                <span class="goal-label">Investor{{ num_investors|pluralize }}</span>
            {% endwith %}
          </div>
        </div>
        <!-- Countdown Widget -->

        <br />
        <br />
        <ul>
            <li>{{ campaign.percentage_funded }}% funded</li>
            <li>${{ campaign.amount_raised|intcomma }} raised</li>
            {% with num_investors=investors|length %}
                <li>{{ num_investors }} investor{{ num_investors|pluralize }}</li>
            {% endwith %}
            {% if campaign.days_remaining != None %}
                <li>{{ campaign.days_remaining }} day{{ campaign.days_remaining|pluralize}} remaining</li>
            {% endif %}
        </ul>

        {% if campaign.open %}
            {% if request.user.is_authenticated %}
                <div class="invest-num-shares">
                    <button id="remove-shares" class="secondary hollow button disabled" type="button" disabled>-</button>
                    <input type="number" min="1" max="{{ campaign.num_shares_remaining }}" value="1" />
                    <button id="add-shares" class="secondary hollow button" type="button">+</button>
                </div>
                <button id="invest-button" class="button" type="button">Buy 1 Share</button>
                <br /><small>* = ${{ campaign.value_per_share }} per share + ${{ PERDIEM_FEE }} PerDiem fee + 2.9%+$0.30 credit card fee</small>
            {% else %}
                <p><a data-open="login-modal">Login</a> to invest in {{ artist.name }}.</p>
            {% endif %}
        {% endif %}

        {% if campaign.days_remaining == 0 %}
            <p><em>Campaign ended {{ campaign.end_datetime|date:'m/d' }}</em></p>
        {% endif %}
    {% endif %}
        <br />
        <br />
    {% if artist.bio %}
        <h2>Our Story</h2>
        {{ artist.bio.bio|safe }}
    {% endif %}

    {% if artist.soundcloudplaylist_set.exists %}
        <h2>Music</h2>
        {% for playlist in artist.soundcloudplaylist_set.all %}
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{ playlist.playlist }}&color=ff5500"></iframe>
        {% endfor %}
    {% endif %}

    {% if campaign %}
        <h2>What is the Money Being Used For?</h2>
        <p>{{ campaign.use_of_funds }}</p>
        <ul>
            {% for expense in campaign.expense_set.all %}
                <li>{{ expense.expense }}</li>
            {% endfor %}
            <li><strong>Total = ${{ campaign.amount|intcomma }}</strong></li>
        </ul>

        <h2>What Do You Get For Investing?</h2>
        <p>We are raising ${{ campaign.amount|intcomma }} {{ campaign.reason }} and giving {{ campaign.fans_percentage }}% of the sales back to the people who invest in it.</p>
        <h3>Percentage</h3>
        <ul>
            <li>{{ artist.name }}: {{ campaign.artist_percentage }}%</li>
            <li>Investors: {{ campaign.fans_percentage }}%</li>
        </ul>
        <p>To raise the funds we are selling <strong>{{ campaign.num_shares|intcomma }}</strong> shares at <strong>${{ campaign.value_per_share }}</strong> per share.</p>
        <h3>Return on Investment</h3>
        <p>For example: If this project earns ${{ campaign.revenue_to_2x|intcomma }} in revenue, every investor will 2x their investment.</p>
    {% endif %}

    {% if artist.social_set.exists %}
        <h2>Follow Us!</h2>
        <ul>
            {% for social in artist.social_set.all %}
                <li><a href="{{ social.url }}">{{ social.get_medium_display }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if investors %}
        <h2>Current Investors</h2>
        <ul>
            {% for investor in investors %}
                <li>{{ investor.name }}: ${{ investor.total_investment }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript">
        var perdiem_fee = {{ PERDIEM_FEE }};
        var artist_name = '{{ artist.name|escapejs }}';
        var share_value_cents = {{ campaign.value_per_share_cents|escapejs }};
        var num_shares_remaining = {{ campaign.num_shares_remaining }};
        var stripe_handler = StripeCheckout.configure({
            key: '{{ PINAX_STRIPE_PUBLIC_KEY }}',
            locale: 'auto',
            email: '{{ request.user.email|escapejs }}',
            token: function(token) {
                var num_shares = parseInt($('.invest-num-shares > input').val());
                $.post("{% url 'pinax_stripe_charge' campaign_id=campaign.id %}", {card: token.id, num_shares: num_shares})
                    .done(function(resp) {
                        // Show success
                        var success_message = 'Thanks! Your investment is being processed. When payment completes, your name will appear in the investor list.';
                        $('#success-modal > p.success-message').text(success_message);
                        $('#success-modal').foundation('open');
                    })
                    .fail(function(resp) {
                        // Show error
                        var error_message = 'Oops. Something went wrong...\n' + resp.responseText;
                        $('#error-modal > p.error-message').text(error_message);
                        $('#error-modal').foundation('open');
                    });
            }
        });
    </script>
    <script type="text/javascript" src="{% static "js/artist/artist-detail.js" %}"></script>
{% endblock %}
