{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/artist/artist_list.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h1>ARTISTS</h1>
    <div class="break">
        <hr>
    </div>
    <div class="filter-sort-options">
        Show me
        <ul class="dropdown menu" id="genre" data-dropdown-menu data-options="disableHover:true; clickOpen:true;">
            <li>
                <a href="#">{{ active_genre }}</a>
                <ul class="menu">
                    {% if active_genre != 'All' %}
                        <li><a href="?genre=All&sort={{ order_by.slug }}">All</a></li>
                    {% endif %}
                    {% for genre in genres %}
                        {% if genre != active_genre %}
                            <li><a href="?genre={{ genre|urlencode }}&sort={{ order_by.slug }}">{{ genre }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
        music
        <button class="button hollow" id="location-dropdown-button" type="button" data-toggle="location-dropdown">
            {% if distance %}within {{ distance }} miles{% endif %}
            from {% if lat and lon %}my location{% elif location %}{{ location }}{% else %}Anywhere{% endif %}
        </button>
        <div class="dropdown-pane" id="location-dropdown" data-dropdown>
            within
            <div class="row">
                <div class="small-8 columns">
                    <div class="slider" data-slider data-initial-start="{% firstof distance 50 %}">
                        <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="slider-miles"></span>
                        <span class="slider-fill" data-slider-fill></span>
                    </div>
                </div>
                <div class="small-4 columns">
                    <input type="number" id="slider-miles">
                </div>
            </div>
            miles of
            <div class="input-group" id="text-location" {% if lat and lon %}style="display: none;"{% endif %}>
                <input class="input-group-field" type="text" placeholder="Los Angeles, CA" value="{% firstof location '' %}" />
                <div class="input-group-button">
                    <button class="button"><i class="fa fa-map-marker"></i></button>
                </div>
            </div>
            <div class="input-group" id="my-location" {% if not lat or not lon %}style="display: none;"{% endif %}>
                <input class="input-group-field disabled" type="text" value="My Location" disabled />
                <div class="input-group-button">
                    <button class="button">&times;</button>
                </div>
            </div>
            <br />
            <button id="location-update-button" class="button">Update</button>
            <button id="location-reset-button" class="button">Reset</button>
        </div>
        sorted by
        <ul class="dropdown menu" id="order-by" data-dropdown-menu data-options="disableHover:true; clickOpen:true;">
            <li>
                <a href="#">{{ order_by.name }}</a>
                <ul class="menu">
                    {% for option in sort_options %}
                        {% if option.slug != order_by.slug %}
                            <li><a href="?genre={{ active_genre }}&sort={{ option.slug }}">{{ option.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
        .
    </div>
    <p class="getting-location">Getting your location...</p>
    <div class="row small-up-1 medium-up-2 large-up-4 artistlist">
        {% for artist in artists %}
            <div class="column">
                {% include "artist/includes/artist_preview.html" with artist=artist %}
                <p>Location: {{ artist.location }}</p>
                {% if order_by.slug == 'funded' %}
                    <p>
                        {% if artist.funded %}
                            % Funded: {{ artist.funded }}
                        {% else %}
                            No campaigns yet
                        {% endif %}
                    </p>
                {% elif order_by.slug == 'time-remaining' %}
                    <p>
                        {% if artist.campaign_end_datetime|timesince >= "1 min" %}
                            Time since: {{ artist.campaign_end_datetime|timesince }}
                        {% elif artist.campaign_end_datetime|timeuntil >= "1 min" %}
                            Time to go: {{ artist.campaign_end_datetime|timeuntil }}
                        {% else %}
                            No campaigns yet
                        {% endif %}
                    </p>
                {% elif order_by.slug == 'investors' %}
                    <p># Investors: {{ artist.num_investors }}</p>
                {% elif order_by.slug == 'raised' %}
                    <p>Amount raised: ${{ artist.amount_raised|intcomma }}</p>
                {% endif %}
            </div>
        {% empty %}
            <p>No results. Try expanding your search criteria.</p>
        {% endfor %}
    </div>
    <div class="break">
        <hr>
    </div>
    <p>Are you an artist? Interested in being on PerDiem?</p>
    <div class="apply-button">
        <a href="{% url 'artist_application' %}" class="button">Apply Here</a>
        <div class="break">
            <hr>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        var my_location = {% if lat and lon %}true{% else %}false{% endif %};
        var order_by = '{{ order_by.slug|escapejs }}';
        var active_genre = '{{ active_genre|escapejs }}';
    </script>
    <script type="text/javascript" src="{% static "js/artist/artist-list.js" %}"></script>
{% endblock %}
