{% extends "base.html" %}
{% load humanize %}
{% load staticfiles %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/artist/artist_detail.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h1 class="header-font">{{ artist.name }}</h1>
    <img src="{{ artist.photo.img.url }}" />
    {% with genres=artist.genres.all %}
        <p>Genre{{ genres|length|pluralize }}: {{ genres|join:" / " }}</p>
    {% endwith %}
    <p>Location: {{ artist.location }}</p>

    {% if campaign %}
        <h2>Goal</h2>
        <p>${{ campaign.amount|intcomma }} {{ campaign.reason }}</p>
        <ul>
            <li>{{ campaign.percentage_funded }}% funded</li>
            <li>${{ campaign.amount_raised|intcomma }} raised</li>
            {% with num_investors=investors|length %}
                <li>{{ num_investors }} investor{{ num_investors|pluralize }}</li>
            {% endwith %}
            {% if campaign.days_remaining != None %}
                <li>{{ campaign.days_remaining }} day{{ campaign.days_remaining|pluralize}} remaining</li>
            {% endif %}
        </ul>
        {% if campaign.days_remaining == 0 %}
            <p><em>Campaign ended {{ campaign.end_datetime|date:'m/d' }}</em></p>
        {% endif %}
    {% endif %}

    {% if artist.bio %}
        <h2>Our Story</h2>
        {{ artist.bio.bio|safe }}
    {% endif %}

    {% if artist.soundcloudplaylist_set.exists %}
        <h2>Music</h2>
        {% for playlist in artist.soundcloudplaylist_set.all %}
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{ playlist.playlist }}&color=ff5500"></iframe>
        {% endfor %}
    {% endif %}

    {% if campaign %}
        <h2>What is the Money Being Used For?</h2>
        <p>{{ campaign.use_of_funds }}</p>
        <ul>
            {% for expense in campaign.expense_set.all %}
                <li>{{ expense.expense }}</li>
            {% endfor %}
            <li><strong>Total = ${{ campaign.amount|intcomma }}</strong></li>
        </ul>

        <h2>What Do You Get For Investing?</h2>
        <p>We are raising ${{ campaign.amount|intcomma }} {{ campaign.reason }} and giving {{ campaign.fans_percentage }}% of the sales back to the people who invest in it.</p>
        <h3>Percentage</h3>
        <ul>
            <li>{{ artist.name }}: {{ campaign.artist_percentage }}%</li>
            <li>Investors: {{ campaign.fans_percentage }}%</li>
        </ul>
        <p>To raise the funds we are selling <strong>{{ campaign.num_shares|intcomma }}</strong> shares at <strong>${{ campaign.value_per_share }}</strong> per share.</p>
        <h3>Return on Investment</h3>
        <p>For example: If this project earns ${{ campaign.revenue_to_2x|intcomma }} in revenue, every investor will 2x their investment.</p>
    {% endif %}

    {% if artist.social_set.exists %}
        <h2>Follow Us!</h2>
        <ul>
            {% for social in artist.social_set.all %}
                <li><a href="{{ social.url }}">{{ social.get_medium_display }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if investors %}
        <h2>Current Investors</h2>
        <ul>
            {% for investor in investors %}
                <li>{% firstof investor.get_full_name investor.get_username %}: ${{ investor.total_investment }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
