<div class="tabs-panel" id="investors">
    <h2>CURRENT INVESTORS</h2>
    <ul class="menu vertical nested is-active">
        {% for investor in investors %}
            <li id="investor-block">
                {% if investor.public_profile_url %}
                    <a href="{{ investor.public_profile_url }}">
                        <img class="profile-crop" src="{{ investor.avatar_url }}" alt="{{ investor.name }}" />
                        {{ investor.name }}
                    </a>
                {% else %}
                    {{ investor.name }}
                {% endif %}
                ${{ investor.total_investment }}
            </li>
        {% endfor %}
    </ul>
</div>
