{% load humanize %}
{% load campaign %}

<div class="tabs-panel" id="roi">
    <h2>RETURN ON INVESTMENT</h2>
    <div class="canvas-profile">
        <canvas id="canvas"></canvas>
    </div>
    <div class="profile-padding">
        Number of shares: <span class="roi-num-shares">10</span>
        <div id="roi-num-shares-slider"></div>
        <p>For example: If this project earns ${{ campaign|percentage_roi:200|intcomma }} in revenue, every investor will 2x their investment.</p>
        <p>With <span class="roi-num-shares">10</span> shares, a project that earns ${{ campaign|percentage_roi:200|intcomma }} will generate a return of $<span class="roi-return"></span>.</p>
    </div>
</div>
