{% extends "base.html" %}

{% block content %}
    <h1>FAQ</h1>
    <div class="break">
        <hr>
    </div>
    <div class="extra-padding">
        
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: How is this different than crowdfunding platforms like Kickstarter or Indiegogo?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                Traditional crowdfunding platforms only allow you to "donate" or "pre-order" music through perks by artists. With PerDiem you are actually investing in a project and can make a monetary return if the project is successful. This creates an incentive for the investors to promote the music long term since the success of their investment is tied to the success of the artist.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>

        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: So do I own equity in the artists?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                No, you don't own any equity in the artist or their music. The artist sets a percentage they want to give back to the investors based on revenue for that project. Check out the "How It Works" page to get a better understanding of how this works.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>

        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: Can I re-invest my money earned into another artist?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                Yes. We encourage you to re-invest and we will cover the cost if you decide to re-invest so that more artists can benefit from the platform. 
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: Is there a cap on the number of shares I can purchase?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                You can purchase up to 500 shares in an artist. 
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: What happens if the artist signs to a record label?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                It's totally up to the artist. Every label is different in the deal they negotiate with artists. Since the music is already released, it's unlikely that a label would want to pull it and collect revenue from a past project. If they do, you can simply give your remaining shares to the label or work out a deal with your investors where everyone wins.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: What happens if an artist leaves the platform?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                The system is designed to protect both the artists and the fans. If an artist decides to leave the platform we highly encourage them to do it in a way that doesn't upset or disappoint their investors. These are the people that believed in you before anyone else and will be some of your most loyal fans.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: Is this legal?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                Yes. It is 100% legal. Since the band retains full ownership of their music, and makes the choice to "give back" to their fans, there is no need to have contracts between the artists and the fans. You are simply purchasing a record (or multiple records) from the artist and the artist is rewarding you for doing so. Be sure to read over the Terms &amp; Conditions to learn even more about how this works.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: How does PerDiem make money?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                100% of the money from shares purchased goes to the artists, and 100% of revenue is split between the artist and fans. The only additional cost for the fans is the credit card processing fee + $1 to make the transaction (this $1 covers costs of keeping the platform running).
                </p>
                <p>
                For example: You invest $10 in an artist. It costs $1.41 to process that transaction. $10 goes to the artist, $1 goes to Perdiem, $.41 goes to the credit card company.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: What if the artist doesn't reach their goal?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                If an artist doesn't reach their goal, they would not be able produce the album. Any money invested would be refunded to the fans who invested in them.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: Who owns the rights to the artists music?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                The artist owns full rights to their music.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: How much time does an artist have to reach their goal?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                We recommend setting a 30 day campaign. This increases your chances of getting funded.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: Once I invest, how do I get money?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                If you decide to sell your shares, we purchase them back from you at their current value. Then we give these shares back to the artist.
                </p>
                <p>
                You then have the option to re-invest your earnings, or be sent a check for the value of your shares.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
        <ul class="vertical menu" data-accordion-menu>
            <li>
            <a href="#">
            <h5>
            Q: Once an artist gets funded, how do they get money?
            </h5>
            </a>
            <ul class="menu vertical nested">
                <li>
                <a href="#">
                <p>
                We send the artist a check for the full amount they raised.
                </p>
                </a>
                </li>
            </ul>
            </li>
        </ul>
    </div>
    <div class="break">
        <hr>
    </div>
{% endblock %}
