{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}PERDIEM{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Dosis:400,200' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/vendor/foundation.min.css" %}" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="{% static "css/perdiem.css" %}" type="text/css" charset="utf-8" />
        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/icons/perdiem_icon_57.png" %}" />
        <link rel="apple-touch-icon" sizes="72x72" href= "{% static "img/icons/perdiem_icon_72.png" %}" />
        <link rel="apple-touch-icon" sizes="114x114" href= "{% static "img/icons/perdiem_icon_114.png" %}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/icons/perdiem_icon_144.png" %}" />
        {% block extrastyle %}{% endblock %}
    </head>
    <body>
        <div class="off-canvas-wrapper">
            <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
                <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
                    <!-- Close button -->
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <!-- Menu -->
                    <ul class="vertical menu">
                        <li><a class="nav-color" href="{% url 'home' %}">HOME</a></li>
                        <li><a class="nav-color" href="{% url 'artists' %}">ARTISTS</a></li>
                        {% if user.is_authenticated %}
                            <li style="float: center;"><a class="nav-color" href="{% url 'profile' %}">PROFILE</a></li>
                            <li style="float: center;"><a class="nav-color" href="{% url 'logout' %}">LOGOUT</a></li>
                        {% else %}
                            <li style="float: center;"><a data-open="login-modal">LOGIN</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="off-canvas-content" data-off-canvas-content>
                    <div class="full-page">
                        <!-- Nav -->
                        <div class="show-for-small-only">
                            <ul class="nav">
                                <li><button type="button" class="menu-icon" data-toggle="offCanvas"></button></li>
                            </ul>
                        </div>
                        <div class="hide-for-small-only">
                            <ul class="nav">
                                <li><a class="active" href="{% url 'home' %}">HOME</a></li>
                                <li><a class="active" href="{% url 'artists' %}">ARTISTS</a></li>
                                {% if user.is_authenticated %}
                                    <li style="float: right;"><a class="active" href="{% url 'logout' %}">LOGOUT</a></li>
                                    <li style="float: right;"><a class="active" href="{% url 'profile' %}">PROFILE</a></li>
                                {% else %}
                                    <li style="float: right;"><a data-open="login-modal">LOGIN</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="container">
                        {% block content %}
                        {% endblock %}
                    </div>

                    <!-- Footer -->
                    <div class="footer">
                        <ul class="footer-items">
                            <li><a href="{% url 'privacy' %}">Privacy</a></li>
                            <li><a href="{% url 'terms' %}">Terms of Use</a></li>
                            <li><a href="{% url 'trust' %}">Trust &amp; Safety</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/828188463946021" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                                <li><a href="http://instagram.com/perdiemmusic" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                                <li><a href="http://twitter.com/perdiemmusic" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UC-6u9L-W6Dn7kaYLOz4YuTg" target="_blank"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Success Modal -->
        <div class="reveal" id="success-modal" data-reveal>
            <h1>Done</h1>
            <p class="success-message">The action completed successfully.</p>
            <button class="button" data-close>Okay, got it!</button>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- Error Modal -->
        <div class="reveal" id="error-modal" data-reveal>
            <h1>Error</h1>
            <p class="error-message">An unexpected error occurred.</p>
            <button class="button" data-close>Okay, got it!</button>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- Login Modal -->
        <div class="reveal" id="login-modal" data-reveal>
            <h1>Login</h1>
            <a href="{% url 'social:begin' backend='google-oauth2' %}"><img src="{% static "img/google-signin.png" %}" alt="Sign in with Google" /></a>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                {{ request.login_form.as_p }}
                <input type="submit" value="Login" />
            </form>
            <p>...or <a href="{% url 'register' %}">create an account</a>.</p>
            <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- JS -->
        <script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/jquery.cookie.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/modernizr.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/foundation.min.js" %}"></script>
        <script type="text/javascript">$(document).foundation();</script>
        <script type="text/javascript" src="{% static "js/Chart.js" %}"></script>
        {% if request.login_form.errors %}
            <script type="text/javascript" src="{% static "js/accounts/login-errors.js" %}"></script>
        {% endif %}
        {% block extrajs %}{% endblock %}
    </body>
</html>
