{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}PERDIEM{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href='https://fonts.googleapis.com/css?family=Dosis:400,200' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/vendor/foundation.min.css" %}" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="{% static "css/perdiem.css" %}" type="text/css" charset="utf-8" />
        {% block extrastyle %}{% endblock %}
    </head>
    <body>
        <div class="full-page">
            <!-- Nav -->
            <ul class="nav">
                <li><a class="active" href="{% url 'home' %}">Home</a></li>
                <li><a class="active" href="{% url 'home' %}#how">How It Works</a></li>
                <li><a class="active" href="{% url 'artists' %}">Artists</a></li>
                {% if user.is_authenticated %}
                    <li style="float: right;"><a href="{% url 'logout' %}">Logout</a></li>
                    <li style="float: right;"><a href="{% url 'profile' %}">Profile</a></li>
                {% else %}
                    <li style="float: right;"><a data-open="login-modal">Login</a></li>
                {% endif %}
            </ul>

            <!-- Content -->
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Footer -->
            <div class="footer">
                <ul class="footer-items">
                    <li><a href="{% url 'privacy' %}">Privacy</a></li>
                    <li><a href="{% url 'terms' %}">Terms of Use</a></li>
                    <li><a href="{% url 'trust' %}">Trust &amp; Safety</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                <div id="socials">
                    <a href="https://www.facebook.com/828188463946021" target="_blank"><img class="facebook" src="{% static "img/socials/facebook_logo.png" %}" width="30" height="30" /></a>
                    <a href="http://instagram.com/perdiemmusic" target="_blank"><img class="instagram" src="{% static "img/socials/instagram_logo.png" %}" width="30" height="30" /></a>
                    <a href="http://twitter.com/perdiemmusic" target="_blank"><img class="twitter" src="{% static "img/socials/twitter_logo.png" %}" width="30" height="30" /></a>
                    <a href="https://www.youtube.com/channel/UC-6u9L-W6Dn7kaYLOz4YuTg" target="_blank"><img class="youtube" src="{% static "img/socials/youtube_logo.png" %}" width="30" height="30" /></a>
                </div>
            </div>
        </div>

        <!-- Success Modal -->
        <div class="reveal" id="success-modal" data-reveal>
            <h1>Done</h1>
            <p class="success-message">The action completed successfully.</p>
            <button class="button" data-close>Okay, got it!</button>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- Error Modal -->
        <div class="reveal" id="error-modal" data-reveal>
            <h1>Error</h1>
            <p class="error-message">An unexpected error occurred.</p>
            <button class="button" data-close>Okay, got it!</button>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- Login Modal -->
        <div class="reveal" id="login-modal" data-reveal>
            <h1>Login</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                {{ request.login_form.as_p }}
                <input type="submit" value="Login" />
            </form>
            <p>...or <a href="{% url 'register' %}">create an account</a>.</p>
            <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <!-- JS -->
        <script type="text/javascript" src="{% static "js/vendor/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/jquery.cookie.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/modernizr.js" %}"></script>
        <script type="text/javascript" src="{% static "js/vendor/foundation.min.js" %}"></script>
        <script type="text/javascript">$(document).foundation();</script>
        <script type="text/javascript" src="{% static "js/Chart.js" %}"></script>
        {% if request.login_form.errors %}
            <script type="text/javascript" src="{% static "js/accounts/login-errors.js" %}"></script>
        {% endif %}
        {% block extrajs %}{% endblock %}
    </body>
</html>
