{% load humanize %}

<div class="tabs-panel {% if not forms_with_errors %}is-active{% endif %}" id="overview">
    {% if artists %}
        <div class="investments">
            <h2>Portfolio</h2>
            <p>Here are the artists that you have invested in:</p>
            <div class="row small-up-1 medium-up-2 large-up-4 artistlist">
                {% for artist in artists.values %}
                    <div class="column">
                        {% include "artist/includes/artist_preview.html" with artist=artist %}
                        <p>Total invested: ${{ artist.total_invested|floatformat:2|intcomma }}</p>
                        {% if artist.total_earned %}
                            <p>Total earned: ${{ artist.total_earned|floatformat:2|intcomma }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="break">
                <hr>
            </div>

            {% if total_earned %}
                <p class="profile-total">Total earned: ${{ total_earned|floatformat:2|intcomma }}</p>
            {% else %}
                <p class="profile-total">Your money is going towards making some sweet music!</p>
            {% endif %}
                <p>Total invested: ${{ total_investments|floatformat:2|intcomma }}</p>
            {% if updates %}
                <div class="break">
                    <hr>
                </div>
                <!-- Updates -->
                <h2>Updates</h2>
                <ul>
                    {% for update in updates %}
                        <li>{{ update.created_datetime }}: {{ update.artist.name }} - {{ update.text }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% else %}
        <p>You haven't invested in anything yet!</p>
    {% endif %}
</div>
