{% extends "registration/includes/profile_form.html" %}

{% block form_html %}
    {{ form.non_field_errors }}
    {{ form.avatar_errors }}
    {% for radio in form.avatar %}
        <label for="{{ radio.id_for_label }}">
            {% with label=radio.choice_label %}
                {% for k, avatar in avatars.items %}
                    {% if k == label %}
                        <img src="{{ avatar }}" alt="{{ label }}" />
                    {% endif %}
                {% endfor %}
            {% endwith %}
            {{ radio.choice_label }}
            <span class="radio">{{ radio.tag }}</span>
        </label>
    {% endfor %}
{% endblock %}
